
.documentation-example:after {
    content: "Example"
}

a i {
    margin-right: 10px;
}

.accordion-inner {
    padding-left: 42px;
}

.documentation-accordion-inner-row {
    margin-bottom: 10px;
}

.documentation-accordion-inner-row > div:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

#left-tab-filters .span4 {
    width: 260px;
}

#left-tab-filters .span6 {
    width: 320px;
}

.documentation-content-page {
    overflow-x: hidden;
}

#left-tab-filters ol {
    margin-left: 40px;
}

.list_filters a
{
    text-decoration: none;
}

.tooltip.left {
    margin-left: -12px;
}

.list_filters ul {
    list-style: none;
}

.list_filters .tooltip {
}

.list_filters .tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/*
.tooltip.in hr {
    margin: 3px;
    width: 100%;
    border-width: 1px;
}
*/