
            <table style="max-height: 0px;">
                <tr>
                    <td style="width: 150px; text-align: right; vertical-align: top;">Description</td>
                    <td>%PROPERTY_DESCRIPTON%</td>
                </tr>
                <tr>
                    <td style="text-align: right; vertical-align: top;">
                        Nested elements
                    </td>
                    <td>
                        %PROPERTY_NESTED_ELEMENTS%
                    </td>
                </tr>
            </table>
