
            <div class="documentation-accordion-inner-row" style="display: %VISIBILITY_PROPERTY_DESCRIPTON%;">
                <div>Description</div>
                <div>%PROPERTY_DESCRIPTON%</div>
            </div>

            <!-- if the property is an array this specifies the element data type -->
            <div class="documentation-accordion-inner-row" style="display: %VISIBILITY_PROPERTY_ITEM_TYPE%;">
                <div>Data type of array elements</div>
                <div>%PROPERTY_ITEM_TYPE%</div>
            </div>

            <div class="documentation-accordion-inner-row" style="display: %VISIBILITY_PROPERTY_ENUM%;">
                <div>Allowed values</div>
                <div>%PROPERTY_ENUM%</div>
            </div>

            <!-- if the property is an array this specifies the minimum amount -->
            <div class="documentation-accordion-inner-row" style="display: %VISIBILITY_PROPERTY_AMOUNT_MIN%;">
                <div>Minimum amount</div>
                <div>%PROPERTY_AMOUNT_MIN%</div>
            </div>

            <!-- if the property is an array this specifies the maximum amount -->
            <div class="documentation-accordion-inner-row" style="display: %VISIBILITY_PROPERTY_AMOUNT_MAX%;">
                <div>Maximum amount</div>
                <div>%PROPERTY_AMOUNT_MAX%</div>
            </div>

            <div class="documentation-accordion-inner-row" style="display: %VISIBILITY_PROPERTY_NESTED_ELEMENTS%;">
                <div>Nested elements</div>
                <div>%PROPERTY_NESTED_ELEMENTS%</div>
            </div>